/*Menu de Navegacion*/
.navbar-style {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: #0f0e0f; }

nav div a {
  font-size: 1.1rem; }

.nav-link li:hover {
  background-color: #f6c215;
  padding: 8px 12px;
  border-radius: 0.5rem;
  transition: 1s; }

.nav-link a:hover {
  background-color: #f6c215;
  padding: 8px 12px;
  border-radius: 0.5rem;
  transition: 1s; }

/* Fin estilos Menu de Navegacion*/
/*Footer*/
hr {
  height: 1px;
  margin: 1rem 0;
  border: 0; }

footer {
  background-color: #0f0e0f; }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  footer a {
    padding: 0.5rem; }

footer div {
  height: 8rem; }
  footer div div {
    padding: 2rem; }

/*Fin Footer*/
/*Albums*/
.title-galeria {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding-top: 50px; }

.card-albums {
  height: 25rem;
  margin-bottom: 3.75rem; }

.img-albums-style {
  width: 29.5rem;
  height: 29.5rem; }

.card-title-albums {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: Black; }

/*Fin Albums*/
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: #1c1a1c;
  color: white; }
