@import "variables";

/*Albums*/
.title-galeria {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding-top: 50px;
}

.card-albums {
  height: 25rem;
  margin-bottom: 3.75rem;
}

.img-albums-style {
  width: 29.5rem;
  height: 29.5rem;
}

.card-title-albums {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: Black;
}
/*Fin Albums*/
