@import "variables";
@import "mixins";

/*Albums*/

// Titulo
.title-albums {
  @include titulos;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.card {
  border: solid 0.125rem whitesmoke;
  a {
    img {
      width: 29.5rem;
      height: 29.5rem;
    }
  }
}

.card {
  background-color: $color-navbar;
  text-align: center;
  font-family: $tipoografia-home;
  font-size: $fuente-titulos;
  img {
    height: 22.335rem;
  }
}

// // Mediaqueris tablet
@media screen and (max-width: 768px) {
  .card {
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}

.card-body {
  padding: 1.875rem;
}

.card-title-albums {
  font-family: $tipoografia-home;
  font-size: $fuente-titulos;
}

/*Fin Albums*/
