@import "variables";
@import "mixins";

/*Albums*/

// Titulo
.title-galeria {
  @include titulos;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.card {
  border: solid 0.125rem whitesmoke;
  a {
    img {
      width: 29.5rem;
      height: 29.5rem;
    }
  }
}

.card-body {
  padding: 1.875rem;
}

.card-title-albums {
  font-family: $tipoografia-home;
  font-size: $fuente-titulos;
}

/*Fin Albums*/
