@import "variables";
@import "mixins";

/*Sub menu Discos*/

.video {
  position: absolute;
  z-index: -1;
}

.album-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    140deg,
    #0f0e0f70 0%,
    #7b7c7556 35%,
    #37383559 100%
  );
  margin: 8% 17% 6% 0%;
  z-index: 2;
  position: relative;
  padding: 0.25rem !important;
}

.portada-album {
  width: 400px;
  margin-top: 3rem !important;
}

.title-style-albums {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  margin-top: 9rem;
  margin-bottom: 5rem;
}

// // Mediaqueris tablet
@media screen and (max-width: 768px) {
  iframe {
    width: 700px;
  }
}
