@import "variables";
@import "mixins";

/* Home */

// Banner

.videoBanner {
  width: 84.313rem;
}

#tituloPrincipal {
  color: $color-amarillo;
  text-align: center;
  font-family: $tipoografia-home;
  font-size: $fuente-titulos5;
  line-height: 1.3;
  position: absolute;
  bottom: 21rem;
}

// // Mediaqueris tablet
@media screen and (max-width: 768px) {
  #tituloPrincipal {
    font-size: $fuente-titulos3;
    bottom: 39rem;
  }
}

// Mediaqueris mobile
@media (min-width: 240px) and (max-width: 534px) {
  #tituloPrincipal {
    font-size: $fuente-titulos2;
    bottom: 35rem;
  }
}

// Titlulo
article {
  h2 {
    @include flex-row-center;
    @include titulos;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

// Mediaqueris mobile
@media (min-width: 240px) and (max-width: 534px) {
  article {
    h2 {
      font-size: $fuente-titulos;
    }
  }
}

// Texto-parrafos home
p {
  text-indent: 1rem;
}

.introduccion {
  background-color: $color-footer;
}

// // Mediaqueris tablet
@media screen and (max-width: 768px) {
  p {
    font-size: 1.5rem;
  }
}

// Mediaqueris mobile
@media (min-width: 240px) and (max-width: 534px) {
  p {
    font-size: 1.3rem;
  }
}
