@import "variables";
@import "mixins";

/*Integrantes*/

// Titulo

h2 {
  @include titulos;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

// Cards

.card {
  background-color: $color-navbar;
  text-align: center;
  font-family: $tipoografia-home;
  font-size: $fuente-titulos;
  img {
    height: 22.335rem;
  }
}

.btn-primary {
  background-color: $color-amarillo;
  border-color: white;
}

/*Fin Integrantes*/
