//Paleta de colores:
$color-navbar: #0f0e0f;
$color-texto: white;
$color-amarillo: #f6c215;
$color-body: #1c1a1c;

//Tipografias:
$tipografia-titulos: "Montserrat", sans-serif;
$tipografia-general: "Merriweather", serif;

//Fuentes
$fuente-normal: 0.875rem;
$fuente-navbar: 1rem;
$fuente-titulos: 2rem;
