@import "variables";
@import "mixins";
@import "navigation";
@import "home";
@import "integrantes";
@import "tour";
@import "galeria";
@import "albums";
@import "discsubmenu";
@import "contacto";
@import "footer";

body {
  padding: 0;
  margin: 0;
  font-family: $tipografia-general;
  background-color: $color-body;
  color: $color-texto;
}
