@import "variables";
@import "mixins";
@import "home";
@import "navigation";
@import "footer";
@import "albums";

body {
  padding: 0;
  margin: 0;
  font-family: $tipografia-general;
  background-color: $color-body;
  color: $color-texto;
}
